pass message/style.css
pass message/script.js
pass message/index.html
light switch/.vscode/settings.json
light switch/style.css
light switch/script.js
light switch/index.html
Generate quote/style.css
Generate quote/script.js
Countdown timer/style.css
Countdown timer/script.js
Countdown timer/index.html
Generate quote/index.html
